# Sao chép file này thành .env và điền thông tin thật

# MongoDB Atlas Connection String
# Tạo tại: https://cloud.mongodb.com
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/ticket_movie?retryWrites=true&w=majority

# JWT Secret Key - Tự đặt một chuỗi bí mật bất kỳ
JWT_SECRET=ticket_movie_super_secret_key_2025

# Port Server
PORT=5000
